:root{
    --main-border: #ccc;
}

body {
    color: #757575;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.section-head{
    color: #5eb25d;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 5px;
}

.sub-section-head{
    color: #222;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 20px;
}

/*================================*/
/*********** Header CSS **********/
/*================================*/

.header-top{
    color: #fff;
    background-color: #5eb25d;
}

.header-top ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-top ul li{
    display: inline-block;
    margin: 0 0 0 15px;
}

.header-top ul.header-contact-info li{
    margin: 0 15px 0 0;
}

.header-top ul li i{
    margin: 0 5px 0 0;
}

.header-top ul li a{
    color: #fff;
}

#header .navbar-brand{
    color: #5eb25d;
    font-size: 22px;
    font-weight: 600;
}

#header .nav-item{
    /* border: 1px solid #000; */
    margin-left: 20px;
}

#header .nav-item .nav-link{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0;
    transition: all 0.3s ease 0s;
}

#header .nav-item .nav-link.active,
#header .nav-item .nav-link:hover{
    color: #5eb25d;
}


/*================================*/
/*********** Nav Bar CSS **********/
/*================================*/
/* .navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    margin: 0;
    color: #fbaf32;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    transition: .5s;
    
}

.navbar .navbar-brand span {
    color: #719a0a;
}

.navbar .navbar-brand:hover {
    color: #fbaf32;
}

.navbar .navbar-brand:hover span {
    color: #fbaf32;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
} */

@media (min-width: 992px) {
    /* .navbar {
        position: absolute;
        width: 100%;
        padding: 30px 60px;
        background: transparent !important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #fbaf32;
    }
    
    .navbar.nav-sticky .navbar-brand {
        color: #fbaf32;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        font-family: 'Nunito', sans-serif;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link,
    .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: #666666;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #fbaf32;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #fbaf32;
    } */
}

@media (max-width: 991.98px) {   
    /* .navbar {
        padding: 15px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #fbaf32;
    }
    
    .navbar .navbar-nav {
        margin-top: 15px;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    } */
}


/*******************************/
/********** Hero CSS ***********/
/*******************************/

.swiper-slide{
    padding: 0 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.swiper-slide h1{
    color: #000;
    font-size: 70px;
    font-weight: 500;
    margin: 0;
}

.swiper-slide span{
    color: #555;
    font-size: 18px;
}

.swiper-slide img{
    width: 100%;
}









#banner{
    color: #fff;
    background-image: url(../../../site-images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 150px 0;
    position: relative;
    z-index: 1;
}

#banner:before{
    content: '';
    background: rgba(0,0,0,0.6);
    /* background: repeating-linear-gradient(45deg,rgba(0,0,0,0.4), rgba(0,0,0,0.4) 10px,rgba(0,0,0,0.5) 10px,rgba(0,0,0,0.5) 20px); */
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#banner h1{
    font-size: 54px;
    font-weight: 700;
    margin: 0 0 15px;
    /* text-shadow: 0 0 10px rgba(0,0,0,0.5); */
}

#banner h1 span{
    color: #5eb25d;
}

#banner p{
    font-size: 22px;
    letter-spacing: 1px;
    /* font-weight: 700; */
}

/*===============================*/
/******* Page Header CSS *******/
/*===============================*/

.category-list{
    text-align: center;
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
}

.category-list li{
    margin: 0 5px;
    display: inline-block;
}

.category-list li a{
    color: #777;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 7px 20px 6px;
    border-bottom: 2px solid #999;
    display: block;
    transition: all 0.3s ease 0s;
}

.category-list li.active a,
.category-list li a:hover{
    color: #333;
    text-decoration: none;
    border-color: #5EB25D;
}


/* product box */

.product-box{
    text-align: center;
    padding: 10px;
}
.product-box img{
    width: 100%;
    margin: 0 0 20px;
}
.product-box h3{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.product-box h3 a{
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.product-box h3 a:hover{
    color: #5eb25d;
    text-decoration: none;
}



.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../../banner/page-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header h2 {
    position: relative;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -1px;
    right: -7px;
    text-align: center;
    color: #fbaf32;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}

#menu-list{
    /* border: 1px solid #ccc; */
    padding: 20px 0;
}


.form-control:focus{
    box-shadow: none;
    border-color: var(--main-border);
}


.sidebar-search-form input{
    /* border: 1px solid #000; */
    border-radius: 0;
    border-color: var(--main-border);
}
.sidebar-search-form button{
    border-radius: 0;
    /* border-color: #999; */
}


/* .section-head{
    color: #888;
    border: 1px solid var(--main-border);
    padding: 10px;
    margin: 0 0 16px;
}

.section-head h3{
    font-size: 16px;
    margin: 0;
} */

.menu-item-list{
    border: 1px solid var(--main-border);
    padding: 15px;
}

.menu-item-list ul li{
    margin: 0 0 10px;
}

.menu-item-list ul li .nav-link{
    color: #888;
    background-color: #f0f0f0;
    font-size: 15px;
    padding: 5px 15px;
    transition: all 0.3s ease 0s;
}

.menu-item-list ul li .nav-link:hover{
    color: #000;
    background-color: #eee;
    font-weight: 600;
}

.cart-sidebar{
    border: 1px solid var(--main-border);
    padding: 20px;

}

.item-detail{
    /* border: 1px solid #000; */
    font-size: 14px;
    padding: 0 0 10px;
    margin: 0 0 20px;
    /* border-bottom: 1px solid #eee; */
    position: relative;
}

.items-section .item-detail{
    padding: 15px;
    border: 1px solid var(--main-border);
}

 .item-detail img{
    width: 50px;
    height: auto;
    margin: 0 10px 0 0;
    float: left;
}

.items-section .item-detail img{
    width: 110px;
    margin: 0 20px 0 0;
}

 .item-detail h4{
    color: #444;
    font-size: 17px;
    font-weight: 600;
    margin: 0 0 5px;
}

.items-section .item-detail h4{
    font-size: 18px;
}

 .item-detail .remove-cart-item{
    color: #555;
    background: transparent;
    font-size: 13px;
    padding: 0;
    border: none;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.go-checkout{
    /* padding: 7px 15px; */
    border-radius: 0;
}


.item-price{
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 0 0 10px;
}

.add-to-cart{
    border-radius: 0;
    margin: 0 10px 0 0;
    vertical-align: top;
}

.cart-counter {
    font-size: 0;
    border-radius: 0;
    display: inline-block;
}
.cart-counter .btn{
    border-radius: 0;
    display: inline-block;
    vertical-align: top;
}
.cart-counter input{
    display: inline-block;
    width: 33px;
    text-align: center;
    padding: 5px;
    border-radius: 0;
}

/* ========================== */
/*  Category Section */
/* ========================== */
/* #category-section{ */
    /* border: 1px solid #000; */
/* } */

/* .category-carousel .owl-item{
    align-content: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: stretch;
    /* border: 1px solid #000; 
    height: 100%;
} */

/* .category-item{
    text-align: center; */
    /* border: 1px solid #000; */
    /* align-content: stretch;
    flex-grow: 1; */
    /* flex-grow: 1; */
    /* height: 100%;
}
.category-item img{
    width: 100%; */
    /* object-fit: cover; */
    /* margin: 0 0 10px;
}
.category-item h4{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
} */


/* reservation section */
#reservation-section{
    background-color: #5eb25d;
    text-align: center;
    padding: 70px 0;
    /* background-image: url('../../../images/animation-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
}

/* #reservation-section h2{
    color: green;
    font-size: 30px;
    font-weight: 600;

}
#reservation-section h3{
    color: #333;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
} */

.booking-form{
    padding-top: 50px;
    /* border: 1px solid #000; */
}

.booking-form .form-control{
    height: 50px;
    border-radius: 0;
    margin: 0 0 30px;
}

.booking-form .btn{
    border-radius: 0;
}

form .form-control{
    border-radius: 0;
}

form .btn{
    /* background-color: #fff; */
    border-radius: 0;
}



/* contact-section */
#contact-section{
    background: linear-gradient(#eee,#f5f5f5);
}

#contact-section h3{
    color: #5eb25d;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 15px;
}

#contact-section .contact-info{
    padding: 0;
    margin: 0;
    list-style: none;
}

#contact-section .contact-info li{
    color: #555;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 30px;
}

#contact-section .timings{
    padding: 0;
    margin: 0;
    list-style: none;
}

#contact-section .timings li{
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 5px;
}


/* footer section */

#footer{
    color: #fff;
    text-align: center;
    background-color: #333;
}

#footer .logo{
    color: #5EB25D;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin: 0 0 10px;
    display: inline-block;
}

#footer .social-links{
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
}

#footer .social-links li{
    margin: 0 5px;
    display: inline-block;
}

#footer .social-links li a{
    color: #333;
    background-color: #fff;
    font-size: 16px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: block;
    transform: all 0.3s ease 0s;
}

#footer .copyright-text{
    margin: 0;
    padding: 20px;
    border-top: 1px solid #999;
}

#footer .copyright-text a{
    color: #fff;
}



/* preloader css */

.loader{
    width: 160px;
    height: 160px;
    margin: auto;
    border-top: 16px solid #999;
    border-right: 16px solid transparent;
    border-radius: 50%;
    position: relative;
    animation: round 1s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader:before{
    content: '';
    background-color: #999;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
}
@keyframes round{
    100%{ transform: rotate(360deg); }
}

/*================================*/
/*********** Cart Page CSS **********/
/*================================*/

.section-head h3{ 
    color: #000;
    font-size: 20px;
    font-weight: 900;
}

.table-list{
    padding: 25px 0;
    margin: 0;
    list-style: none;
    /* border: 1px solid #000; */
  }
  
  .table-list li{
    /* border: 1px solid #000; */
    display: inline-block;
}

.table-list li button,
.table-list li a{
    color: #fff;
    background-color: #5EB25D;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    padding: 15px;
    border: none;
    transition: all 0.3s ease 0s;
  }
  
  .table-list li button:hover{
    box-shadow: 0 0 0 10px rgba(0,0,0,0.2);
  }