:root{
    --link-text:#555;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* common css */
/* ======================= */

a,
a:focus{
    text-decoration: none;
}

.error{
    color: red;
}

.link-button{
    color: #fff !important;
    background-color: var(--main-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 25px 8px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.link-button:hover{
    color: #fff;
    background-color: #222;
}

/* preloader css */
/* ============================== */

.loader{
    width: 100px;
    height: 100px;
    margin: auto;
    border-top: 15px solid var(--main-color);
    border-right: 15px solid transparent;
    border-radius: 50%;
    position: relative;
    animation: round 1s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader:before{
    content: '';
    background-color: var(--main-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: -1px;
    top: -4px;
}
@keyframes round{
    100%{ transform: rotate(360deg); }
}

/* header css */
/* ============================= */

.header-top{
    background: #eee;
    padding: 4px 15px;
}

.header-top ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-top ul li{
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 10px 0 0;
    display: inline-block;
}

.header-top ul li a{
    color: #222;
    transition: all 0.3s ease 0s;
}

.header-top ul li a:hover{
    color: var(--main-color);
    text-decoration: underline;
}

.header-top ul .dropdown button{
    color: var(--main-color);
    background-color: transparent;
    text-transform: capitalize;
    padding: 0;
    border: none;
}

.header-top ul .dropdown :focus,
.header-top ul .dropdown :hover{
    box-shadow: none;
    text-decoration: underline;
}

.header-top ul .dropdown li a:hover{
    background-color: transparent;
}

.navbar{
    padding: 20px 10px;
}

.logo{
    padding: 0;
    display: inline-block;
}

.logo h1{
    color: var(--main-color);
    font-family: 'Poetsen One', serif;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}   

.logo img{
    width: 150px;
}

.navbar-nav .nav-item{
    margin: 0 15px 0 0;
}

.navbar-nav .nav-link{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease 0s;
}

.navbar-nav .nav-link:hover{
    color: var(--main-color);
}

.navbar-nav .nav-link:before{
    content: '';
    background-color: #ddd;
    height: 2px;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    transition: all 0.3s ease 0s;
}

.navbar-nav .nav-link:hover:before{
    background-color: var(--main-color);
    bottom: 7px;
}

.header-nav-right{
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-nav-right li{
    margin: 0 0 0 15px;
    display: inline-block;
}

.header-nav-right li a{
    color: #222;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
    position: relative;
    transition: all 0.3s ease 0s;
}

.header-nav-right li a:after{
    content: '';
    background-color: var(--main-color);
    height: 1px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease 0s;
}

.header-nav-right li a:hover:after{
    width: 100%;
}

.header-nav-right li a i{
    color: var(--main-color);
    margin: 0 5px 0 0;
}

.header-nav-right li:last-child a:after{
    display: none;
}

/* banner section */
/* =========================== */

#banner-section{
    
    /* border: 1px solid #000; */
    /* padding: 100px 0; */
}

#banner-section h1{
    color: var(--main-color);
    font-family: 'Poetsen One', serif;
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 30px;
}

#banner-section span{
    color: #000;
    font-size: 22px;
}

#banner-section img{
    width: 100%;
}

#banner-section .swiper-slide{
    /* background-image: url('../../../banners/1716303332.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    padding: 50px;
    min-height: 550px;
}

/* seaction heading */
/* =============================== */

.section-heading{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section-sub-heading{
    font-family: 'Poetsen One', serif;
    font-size: 45px;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0 0 30px;
    text-shadow: 5px 5px rgba(255,255,255,0.15);
}

/* main-content */
/* ============================= */

#main-content{
    min-height: 100vh;
}


.item-box{
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    height: 100%;
}

.item-box img{
    width: 100%;
    padding: 15px;
}

.item-box .content{
    padding: 15px;
    border-bottom: 4px solid var(--main-color);
}

.item-box .content h3{
    font-family: 'Poetsen One', serif;
    font-size: 19px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 3px;
}

.item-box .content .category{
    font-size: 13px;
    margin: 0 0 5px;
    display: block;
}

.item-box .content .category a{
    color: #777;
    transition: all 0.3s ease 0s;
}

.item-box .content .category a:hover{
    color: var(--main-color);
}

.item-box .content .price{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

.available-tables{
    min-height: 250px;
}

.table-box{
    color: #222;
    background-color: #eee;
    text-align: center;
    padding: 25px 15px;
    margin: 0 0 20px;
    border-radius: 10px;
    display: block;
    transition: all 0.3s ease 0s;
}

.table-box:hover{
    color: #fff;
    background-color: var(--main-color);
}

/* contact us page */
/* ========================= */

#contact-form .section-heading{
    color: var(--main-color);
}

.page-header{
    padding: 50px 0;
    background: linear-gradient(#eee,#fff);
}

form{
    padding: 30px;
    border-radius: 10px;
}

select.form-control,
input.form-control{
    font-size: 18px;
    height: 55px;
}

form a {
    color: var(--main-color);
    transition: all 0.3s ease 0s;
}

form a:hover{
    color: #222;;
}


.breadcrumb-nav{
    display: inline-block;
}

.breadcrumb{
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 5px;
}

.breadcrumb li.active{
    color: #fff;
}
.breadcrumb li.active:before,
.breadcrumb li a{
    color: rgba(255,255,255,0.5);
    transition: all 0.3s ease 0s;
}

.breadcrumb li a:hover{
    color: #fff;
}

/* reservation page */
/* ========================== */


#reservation-form{
    color: #fff;
    background-color: var(--main-color) ;
}


/* category section */
/* ========================== */

#category-section{
    color: var(--main-color);
    background: linear-gradient(#fff,#eee,#fff);
    /* background: repeating-linear-gradient(45deg,var(--main-color), #d7470d 40px); */
    text-align: center;
}

.category-box{
    /* border: 1px solid #000; */
    color: var(--link-text);
    background-color: #fff;
    margin: 0 0 25px;
    display: block;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.category-box:hover{
    background-color: var(--main-color);
}

.category-box img{
    width: 100%;
    /* height: 80px; */
    object-fit: cover;
    margin: 0 5px 0 0;
    transition: all 0.5s ease 0s;
}

.category-box:hover img{
    opacity: 0.5;
    transform: scale(1.1) rotate(10deg);
    /* transform-origin: center bottom; */
}

.category-box .content{
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.category-box h4{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 0 10px;
}

.category-box h4 a{
    color: #000;
    transition: all 0.3s ease 0s;
}

.category-box h4 a:hover{
    color: var(--main-color);
}

.category-box .read-more{
    color: #fff;
    background-color: var(--main-color);
    padding: 10px 15px;
    transition: all 0.3s ease 0s;
}

.category-box .read-more:hover{
    color: #fff;
    background-color: #333;
    border-radius: #333;
}

/* #about-section{
    color: var(--main-color);
    padding: 70px 0;
    background: linear-gradient(to right bottom,#EBE4E1,#fff,#EBE4E1);
}

#about-section .section-sub-heading{
    color: #222;
}

#about-section p{
    color: #555;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 0 30px;
}

#about-section img{
    width: 100%;
} */

/* reservation section */
/* ============================= */

#reservation-section{
    color: #fff;
    background-image: url('../../../restaurant_images/reservation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background: linear-gradient(#d7470d,var(--main-color),#d7470d); */
    /* background: #222; */
    text-align: center;
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

#reservation-section:before{
    content: '';
    background-color: #000;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#reservation-section h3{
    /* color: ; */
}

#reservation-section .link-button:hover{
    color: var(--main-color) !important;
    background-color: #fff;
} 

/* menu type section */
/* =========================== */

#menu-section{
    background: linear-gradient(#fff,#EBE4E1);
    text-align: center;
    padding: 80px 0;
}

#menu-section .section-heading{
    color: var(--main-color);
}

#menu-section .menu-box{
    color: #222;
    background-color: #fff;
    text-align: left;
    padding: 15px 15px 10px;
    margin: 0 0 20px;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    box-shadow: none;
    display: block;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}

#menu-section .menu-box:hover{
    color: #fff;
    background-color: var(--main-color);
}

#menu-section .menu-box img{
    width: 100%;
    object-fit: cover;
    margin: 0 0 10px;
    border-radius: 5px;
    transition: all 0.7s ease 0s;
}

#menu-section .menu-box:hover img{
    transform: scale(1.7);
    opacity: 0.5;
}

#menu-section .menu-box h4{
    color: var(--main-color);
    font-family: 'Poetsen One', serif;
    font-size: 18px;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s;
}

#menu-section .menu-box:hover h4{
    color: #fff;
}


/* working section */
/* ======================= */

#working-section{
    padding: 80px 0;
    background-image: url('../../../restaurant_images/working.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#working-section .section-heading{
    color: var(--main-color);
}

#working-section img{
    width: 100%;
}

#working-section ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#working-section ul li{
    color: #fff;
    background-color: var(--main-color);
    font-family: 'Poetsen One', serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px 40px;
    margin: 0 0 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.7) inset;
     display: inline-block;
}

/* footer */
/* ================================ */

#footer{
    background-color: #EBE4E1;
}

.footer-widget{
    margin: 0 0 45px;
}

.footer-widget .logo{
    margin: 0 0 25px;
}

.footer-widget h4{
    color: var(--main-color);
    font-family: 'Poetsen One', serif;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 20px;
}

.footer-widget ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-widget ul li{
    color: #222;
    font-family: 'Poetsen One', serif;
    font-size: 18px;
    margin: 0 0 5px;
}

.footer-widget ul li span{
    font-size: 35px;
}

.footer-widget ul li:last-child{
    margin: 0;
}

.footer-widget ul li a{
    color: var(--link-text);
    font-size: 18px;
    font-weight: 400;
}

.footer-social-links{
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-social-links li{
    line-height: 18px;
    margin: 0 10px 0 0 !important;
    display: inline-block;
}

.footer-social-links li a{
    color: #222;
    transition: all 0.3s ease 0s;
}

.footer-social-links li a:hover{
    color: var(--main-color);
}

.footer-bottom{
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.footer-bottom ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-bottom ul li{
    margin: 0 0 0 10px;
    display: inline-block;
}

.footer-bottom ul li a{
    color: var(--link-text);
    transition: all 0.3s ease 0s;
}

.footer-bottom ul li a:hover{
    color: var(--main-color);
}

@media only screen and (max-width: 990px) {
    #banner-section .swiper-slide{
        min-height: 350px;
    }

    #banner-section h1{
        font-size: 55px;
    }
    
    #banner-section span{
        font-size: 17px;
    }
}

@media only screen and (max-width: 767px) {
    #banner-section .swiper-slide{
        min-height: auto;
        padding: 20px;
    }

    #banner-section h1{
        font-size: 44px;
    }
    
    #banner-section span{
        font-size: 15px;
    }
}

@media only screen and (max-width: 576px) {
    #banner-section .swiper-slide{
        min-height: 272px;
        padding: 20px;
    }

    #banner-section h1{
        font-size: 35px;
        margin: 0 0 15px;
    }
    
    #banner-section span{
        font-size: 13px;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 479px) {
    #banner-section .swiper-slide{
        min-height: 230px;
        padding: 20px 10px;
    }

    #banner-section h1{
        font-size: 28px;
        margin: 0 0 10px;
    }
    
    #banner-section span{
        font-size: 11px;
        margin: 0 !important;
    }
}